* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
  color: rgb(0, 0, 0);
  max-width: 600px;
  margin: auto;
  font-family: Helvetica, sans-serif;
}
main {
  background-color: beige;
  border: red solid;
  display: flex;
  flex-direction: row;
}

.image {
  padding: 40px;
}
img {
  max-width: 300px;
}

div {
  max-width: 400px;
}
a {
  color: white;
}
.texte {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  text-align: left;
}
a {
  margin-top: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.nom {
  margin-top: auto;
}

.p {
  border: white solid;
  text-align: left;
}
/* 🦊 Compléter les styles de votre teaser  */
